/bin/
/unlabeled_facts.tsv
/instances_types.tsv
/sentences_all.tsv
/unlabeled_fact.tsv
/generalizated_fact.tsv
/unlabeled_facts_final.tsv
/generalizated_facts_final.tsv
/join.tsv
/generalizated_facts_final.rar
